#site {
    font-size: 12pt;
}

p {
    text-align: justify;
    margin: .7em 0;
    line-height: 150%;
    font-size: 12pt;
}

h1, h2, h3, h4, h5 {
    margin: .5em 0 .2em 0;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

a, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}

#post-content a:link:after, #post-content a:visited:after,
#license-text-link:link:after, #license-text-link:visited:after,
.link-post-headline:link:after, .link-post-headline:visited:after {
    content:" [" attr(href) "] ";
}

.link-read-on {
    display: none;
}

#main-nav {
    display: none;
}

#bottom-nav {
    display: none;
}

#rss {
    display: none;
}

.github-fork-ribbon-wrapper {
    display: none;
}

#movement-links {
    display: none;
}

.shariff {
    display: none;
}