---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Erixpage.de</title>
        <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css">
	   <!--[if lt IE 9]>
	       <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
	   <![endif]-->
       <link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml" title="Technik, Politik, Webdesign und Meinung">
    </head>
    <body>
	<div id="site">
            <div id="header">
                <h1>{{ page.title }}</h1>
                <nav id="main-nav">
                    <ul>
                        {% for link in site.navigation %} {% assign current = nil %}
                        {% if page.url contains link.url %}
                        {% assign current = 'current' %}
                        {% endif %}
                        <li><a href="{{ site.baseurl }}/{{ link.url }}" class="{{ current }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div id="content">
                {{ content }}
            </div>
            <footer id="footer">
                <div id="license">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
                </div>
                <div id="rss">
                    <a href="{{ site.baseurl }}/feed.xml"><img src="{{ site.baseurl }}/assets/feed-icon-28x28.png" alt="RSS-Feed"></a>
                </div>
            </footer>
        </div>
	<div class="github-fork-ribbon-wrapper left-bottom">
    	    <div class="github-fork-ribbon">
        	<a href="https://github.com/pille1842/erixpage">Fork me on GitHub</a>
    	    </div>
	</div>
    </body>
</html>
