<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="{{ "/css/main.css" | absolute_url }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>{{ page.title }}</h1>

        <div id="content">
            {{ content }}
        </div>

        <div id="footer">
            Copyright &copy; 2018 Eric Haberstroh &ndash;
            <a href="https://github.com/pille1842/erixpage">Quellcode</a>
        </div>
    </body>
</html>
