---
layout: default
---
<p class="post-intro">{{ page.location }}, den {{ page.date | date: "%d.%m.%Y" }}</p>

<div id="post-content">
    {{ content }}
</div>

<p class="post-outro">fecit {{ page.author }}</p>

<div class="shariff" data-services="[&quot;whatsapp&quot;,&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;mail&quot;,&quot;info&quot;]" data-mail-url="mailto:%20">

<p id="movement-links">
{% if page.previous %}
    <span class="previous">&larr; {{ page.previous.date | date: "%d.%m.%Y" }}: <a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a></span>
{% endif %}
{% if page.next %}
    <span class="next">{{ page.next.date | date: "%d.%m.%Y" }}: <a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a> &rarr;</span>
{% endif %}
</p>
<div class="clear"></div>